body{
	width: 100%;
	height: 100%;
	/*background-color: yellow;*/
	/*overflow: scroll;*/
}
#row-top{
	width: 90px;
	height: 90px;
	border: thin solid red;
	margin-left:150px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 8px solid #C0C0C0;
	border-radius: 50%;
}
a:link {color:blue;}		/* 未被访问的链接 */
a:visited {color:#8C8C8C;}	/* 已被访问的链接 */
a:hover {color:black;}	/* 鼠标指针移动到链接上 */

#row-top-w{
	font-size: 1.2em;
	margin-left: -3px;
	margin-top:25px;
	color: grey;	

}
#row-top-w a:link {color:blue;}	
#row-top-w a:visited {color:#8C8C8C;}
#row-top-w a:hover {color:black;}	

#left{
	
	margin-top: -50px;
	margin-left: -100px;
}
#sidebar{
	margin: auto;

}
#t-navbar{
	
	margin-right: 18%;
	
}
#b-navbar{
	
	margin-right: 25%;
	
}
#a-navbar{
	
	margin-right: 25%;
	
}
#b-navbar ul li{
	border-left:1px solid #E8E8E8;
	
}
#a-navbar ul li{
	border-left:1px solid #E8E8E8;
	
}
#t-navbar ul li{
	border-left:1px solid #E8E8E8;
	
}
#t-top{
	/*background-color: red;*/
	width:100%;
	margin-left: 242px;
	border-bottom:1px solid #E8E8E8;
}

#plus{
	border-right:1px solid #E8E8E8;
	
	/*background-color: red;*/
	margin-left: -15px;
}
#main_word{
	height: 80%;
	width: 102.5%;
	margin-top: 1%;
	overflow:hidden;
	overflow-y:auto;
	
}
#button{
	width:100%;
	margin-left: 16.7%;
}
#b-navbar a:link {color:blue;}		
#b-navbar a:hover {color:black;}	
#b-navbar a:active {color:grey;}	

#n-right{/*下面的导航*/
	/*background-color: red;*/
	margin-right: -10%;
	padding: 0px;
}
#navber-right{
	/*background-color: red;*/
	margin-right: -12%;
}
#b-foot{
	/*background-color: blue;*/
	/*margin-left: 15px;*/
	margin-right: 150px;
}
#b-top{
	/*background-color: blue;*/
	/*margin-left: 15px;*/
	margin-right: 150px;
}

